<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="PlayPro v3 Web Login Test Suite" verbose="1" parallel="none" thread-count="1">
    <test name="PlayPro Web Login Test by Groups">
        <groups>
            <run>
                <include name="WebLoginTests"/>
            </run>
        </groups>
        <classes>
            <class name="tests.PlayPro.DEV.TestngGroups.TCGroupLogin01"/>
            <class name="tests.PlayPro.DEV.TestngGroups.TCGroupLogin02"/>
        </classes>
    </test>
</suite> <!-- Suite -->
